<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <script src="./websites/www/www/js/jquery.fancybox.js" ></script>
    xEpan-ATK-Header-End-->
</head>
<body>
    <div class="page text-center">
        <header class="page-head">
 
            <div class="rd-navbar-wrap" style="height: 157px;">
                <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" class="rd-navbar rd-navbar-static" data-sm-stick-up-offset="31px" data-lg-stick-up-offset="41px" data-xl-stick-up-offset="41px" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed">
                    <div class="rd-navbar-inner">
                        <div class="contact-info rd-navbar-collapse address">
                            <ul class="inline-list">
                                <li><a href="#" class="link">facebook</a></li>
                                <li><a href="#" class="link">twitter</a></li>
                                <li><a href="#" class="link">linkedin</a></li>
                            </ul>
                            <dl>
                                <dt class="offset-top-1"><span class="icon icon-xs icon-gray-darker fa-mobile"></span></dt>
                                <dd><a href="callto:#"> +1 800 777 6050</a></dd>
                            </dl>
                        </div>
                        <div class="rd-navbar-outher">
                        <div class="rd-navbar-panel">
                         
                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                        <button data-rd-navbar-toggle=".rd-navbar-collapse" class="rd-navbar-collapse-toggle"><span></span></button>
                         
                        <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><img src="images/header-logo-268x57.png" alt="" width="268" height="57"></a></div>
                        <div class="rd-navbar-brand-mobile"><a href="index.html" class="brand-name"><img src="images/header-logo-mobile-268x57.png" alt="" width="268" height="57"></a></div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                         
                        <ul class="rd-navbar-nav">
                        <li class="active"><a href="./">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="planning.html">Financial Planning</a></li>
                        <li><a href="investment.html">Investment Help</a></li>
                        <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="advice.html">Advice</a>
                         
                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                        <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="articles.html">Articles</a>
                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                        <li><a href="single-post.html">Single post</a></li>
                        </ul>
                        <span class="rd-navbar-submenu-toggle"></span></li>
                        <li><a href="audio.html">Audio</a></li>
                        <li><a href="books.html">Books</a></li>
                        <li><a href="video.html">Video</a></li>
                        </ul>
                        <span class="rd-navbar-submenu-toggle"></span></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li class="extra-link"><a href="free-consultation.html"><span>Free Consultation</span></a></li>
                        </ul>
                        </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="prime-page-container xepan-component xepan-sortable-component xepan-page-wrapper" xepan-component='/xepan/cms/Tool_Container'>
        {$Content}
        </div>
        <footer class="page-foot text-sm-left section-50 section-lg-90 offset-md-top--40">
            <div class="shell">
                <div class="range">
                    <div class="cell-md-5 offset-top-10"><a href="index.html" class="brand"><img src="images/footer-logo-266x55.png" alt="" width="266" height="55"></a>
                        <p>Investment products and services available only to residents of : Arizona - AZ, California - CA, Hawaii - HI, Idaho - ID, New Jersey - NJ, New Mexico - NM, Oregon - OR, Washington - WA Securities and Investment Advice through John Doe &amp; Company, A registered broker/dealer and Investment Advisor, Member FINRA and SIPC. 101 Serious Road, Fincity, FL 32707 Tel: (959) 603- 6035.| John Doe Financial Advisors is not an affiliate of Wall Street Company.</p>
                        <p>All other trademarks and copyrights are the properties of their respective holders. This website provides information related to the subjects covered. Before making any financial or legal decisions, a professional should be consulted.</p>
                    </div>
                    <div class="cell-xs-8 cell-xs-preffix-3 cell-sm-6 cell-sm-preffix-0 cell-md-3 cell-md-preffix-1 text-left offset-top-50 offset-md-top-0">
                        <h3 class="text-medium">Financial Planning</h3>
                        <ul class="marked-list">
                            <li><a href="#">Investment Management</a></li>
                            <li><a href="#">Retirement Planning</a></li>
                            <li><a href="#">Long Term Care</a></li>
                            <li><a href="#">Estate Planning</a></li>
                            <li><a href="#">Social Security</a></li>
                        </ul>
                    </div>
                    <div class="cell-xs-6 cell-xs-preffix-3 cell-sm-6 cell-sm-preffix-0 cell-md-3 offset-top-50 offset-md-top-0 text-left">
                        <h3 class="text-medium">Investment Help</h3>
                        <ul class="marked-list">
                            <li><a href="#">Wealth Management</a></li>
                            <li><a href="#">Retirement &amp; College Savings</a></li>
                            <li><a href="#">Business Owners</a></li>
                            <li><a href="#">Insurance &amp; Annuities</a></li>
                            <li><a href="#">Cash &amp; Credit</a></li>
                            <li><a href="#">Stocks, Bonds &amp; Mutual Funds</a></li>
                        </ul>
                    </div>
                </div>
                <p class="offset-top-50">Copyright &copy; &nbsp;<span id="copyright-year">2017</span>&nbsp; | &nbsp;<a href="privacy.html"> Privacy Policy</a>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>